body {
  font-family: courier;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 50%;
}


h1 {
  text-align: left;
  text-transform: uppercase;
  color: black;
}

h1 a{
    color: inherit;
    text-decoration: none;
}

h2{
    color: black;
}

h3 {
  color: black;
  font-size: 1.5em;
}

text {
  font-size: 16px;
  line-height: 1.5em;
}

a {
    color: cornflowerblue;
}

a:hover {
    color: red;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;    
    width: 100%;
    text-align: center;


}